<!DOCTYPE html>
<html lang="ru">
  <head>
    <title> 
    </title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Test">
    <meta name="description" content="Test">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <!--header-->
    <header class="header">
      <div class="header__logo">
        <a class="menu-btn" href="/">
          <svg class="icon icon-menu">
            <use xlink:href="assets/img/sprite.svg#icon-menu"></use>
          </svg>
          <svg class="icon icon-close">
            <use xlink:href="assets/img/sprite.svg#icon-close"></use>
          </svg>
        </a>
        <a class="logo" href="/">
          <img src="assets/img/logo.png">
        </a>
      </div>
      <div class="container">
        <nav class="menu">
          <a class="menu__link" href="/">Натяжные ПОТОЛКИ</a>
          <a class="menu__link" href="page2.html">двухуровневые ПОТОЛКИ</a>
          <a class="menu__link" href="page3.html">скрытый карниз</a>
          <a class="menu__link" href="page4.html">освещение</a>
        </nav>
      </div>
    </header>
    <!--main-->
    <main class="main">
    </main>
    <!--footer-->
    <footer class="footer">
      <div class="container">
        <nav class="menu">
          <a class="menu__link" href="/">Натяжные ПОТОЛКИ</a>
          <a class="menu__link" href="page2.html">двухуровневые ПОТОЛКИ</a>
          <a class="menu__link" href="page3.html">скрытый карниз</a>
          <a class="menu__link" href="page4.html">освещение</a>
        </nav>
        <div class="footer__contacts">
          <form class="form" action="">
            <label for="name">контактное лицо</label>
            <input id="name" type="text">
            <label for="tel">телефон для связи</label>
            <input id="tel" type="tel">
            <label for="comment">комментарий к заявке</label>
            <textarea id="comment"></textarea>
            <button type="submit">отправить заявку</button>
          </form>
          <div class="contacts vcard">
            <div class="contacts__item call">
              <div class="contacts__item_l">
                <a href="tel:+375297959898">
                  <img src="assets/img/tel.png" alt="phone">
                </a>
              </div>
              <div class="contacts__item_r">
                <a href="tel:+375297959898">позвонить</a>
              </div>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_l">компания:</div>
              <div class="contacts__item_r">ООО "ЕВРОИНТЕЗО"</div>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_l">адрес:</div>
              <div class="contacts__item_r address">
                <span class="postal-code">224022,</span>
                <span class="locality">Брест-РБ,</span>
                <span class="street-address">ул. Карьерная 11 - 22</span>
              </div>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_l">телефоны:</div>
              <div class="contacts__item_r">
                <a class="tel" href="tel:80162481339">8 0162 48 13 39</a>
                <a class="tel" href="tel:+375297959898">+375 29 795 98 98</a>
                <a class="tel" href="tel:+375447959898">+375 44 795 98 98</a>
              </div>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_l">режим работы:</div>
              <div class="contacts__item_r">09.00-18.00, без выходных</div>
            </div>
            <div class="contacts__item">
              <div class="contacts__item_l">е-mail:</div>
              <div class="contacts__item_r">
                <a href="mailto:men3intezo@gmail.com">men3intezo@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>